@model Contestant
@{
    ViewData["Title"] = "Congratulations";
}

<h1>Congratulations</h1>

<h1>Thank you @Model.FirstName @Model.LastName for your registration!</h1>

Password is <b>@Model.Password</b> 
<br />
Please remember your password.  Thank you!